.header {
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background-color: #eee;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.76);
  color: #000;

  &__club-name {
    font-size: 2rem;
    flex-grow: 1;
  }

  &__user-login {
    display: flex;
    gap: 1rem;
  }
}

.menu {
  display: flex;
  gap: 1rem;

  &__item {
    transition: all ease-in-out 0.2s;
    // color: #234;

    &:hover {
      color: #f83;
    }
  }

  &__username {
    font-weight: 600;
  }
}
